.footer{
    margin-top: 10px;
}
.footer .footer__info{
    text-align: justify;
    background-color: #fff;
    padding: 0 12px;
    padding-top: 10px;
    height: 180px;
    position: relative;
    overflow: hidden;
}


.footer .footer__info .footer__info-hide{
    height: 25px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: linear-gradient(to top, rgb(243, 243, 243), rgba(255, 255, 255, 0.15));
    margin: 0px !important;
    color: rgb(119, 119, 119);
}

.footer .footer__info.active .footer__info-hide{
    display: none;
}

.footer .footer__info.active{
    overflow: unset;
    box-shadow: unset;
    height: max-content;
}

.footer .footer__info h2{
    font-size: 18px;
}

.footer .footer__info p{
    margin: 0px 0px 5px;
    color: rgb(119, 119, 119);
    font-size: 12px;
    line-height: 1.5;
}

.footer .footer__info p:last-child{
    margin-bottom: 0;
}

.footer .see-more{
    padding: 0;
    font-weight: unset;
    font-size: 12px;
    text-align: center;
    width: 100%;
    background-color: #fff;
}

.footer .list-hot{
    padding: 12px;
    background-color: #fff;
    overflow: hidden;
}

.footer .list-hot h3{
    color: rgb(155, 155, 155);
    font-weight: bold;
    margin: 0px;
    font-size: 18px;
}

.footer .list-hot ul{
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    padding: 0;
    padding: 14px;
    row-gap: 15px;
    margin-top: 0;
}

.footer .list-hot ul li{
    width: 50%;
    font-size: 12px;
    color: rgb(119, 119, 119);
}

.footer .list-hot ul li a{
    color: #000;
    text-decoration: none;
    color: rgb(119, 119, 119);
}

.footer .footer__bottom{
    padding: 12px;
    background-color: #fff;
    margin-top: 15px;
    margin-bottom: 80px;

}

.footer .footer__bottom .section1{
    display: flex;
    justify-content: space-between;
}

.footer .footer__bottom .section1 img{
    max-width: 96px;
    object-fit: contain;
}

.footer .footer__bottom .section1 .rate__list{
    display: flex;
    gap: 5px;
    justify-content: end;
}

.footer .footer__bottom .section1 .rate__list svg{
    color: #FFBA00;
    height: 12px;
    width: 12px;
}

.footer .footer__bottom .section1 .rate{
    font-size: 15px;
    color: #777777;
}

.footer .footer__bottom .section1 p{
    margin: 0;
}

.footer .footer__bottom .section2 .title{
    padding: 0;
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.footer .footer__bottom .section2 .list-app img{
    max-width: 100px;
}

.footer .footer__bottom .section2 .list-app{
    display: flex;
    justify-content: space-between;
}

.footer .footer__bottom .section3{
    text-align: center;
}

.footer .footer__bottom .section3 .list-helper{
    margin-top: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 17px;
    row-gap: 10px;
    align-items: center;
}

.footer .footer__bottom .section3 .list-helper a{
    text-decoration: none;
    color: rgb(119, 119, 119);
    font-size: 10px;
    width: max-content;
}
.footer .footer__bottom .section3 img{
    margin-top: 16px;
}

.footer .footer__bottom .section4{
    margin-top: 15px;
    padding-top: 8px;
    color: #9B9B9B;
    font-family: Helvetica,Arial,Roboto,sans-serif !important;
    font-size: 0.75rem;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    border-top: 1px solid #E8E8E8;
}